// Fonts
$font-primary: 'Raleway', sans-serif;
$font-secondary: 'Courier New', Courier, monospace;

// Colors
$white: #FFFFFF;
$black: #222222;
$grey-light: #EEEEEE;
$grey: #C4C4C4;
$grey-dark: #73797C;

$brown: #976037;
$red: #CF043C;
$orange: #EA6A11;
$yellow: #F9B023;
$green: #80BA27;
$turquoise: #0098AF;
$blue: #66BEEC;
